Flask==1.1.2
Jinja2==2.11.2
MarkupSafe==1.1.1
Pygments==2.6.1
Werkzeug==1.0.1
backcall==0.1.0
click==7.1.2
decorator==4.4.2
ipython-genutils==0.2.0
ipython==7.14.0
itsdangerous==1.1.0
jedi==0.17.0
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
ptyprocess==0.6.0
python-dotenv==0.14.0
six==1.14.0
traitlets==4.3.3
wcwidth==0.1.9
yapf==0.30.0
