{% extends 'base.html' %}

{% block title %}Login{% endblock %}


{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<script> alert('{{message}}')</script>
{% endfor %}
{% endif %}
{% endwith %}
<form class="form-login" action="/login" method="POST">
    <div class="text-center">
        <div class="toast bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body">
                <b>Credencias Erradas ou Utilizador não existente</b>
                <div class="mt-2 pt-2 border-top">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Close</button>
                </div>
            </div>
        </div>
        <img class="mb-4" src="/static/logo.png" alt="Logo" height="200">
        <h1 class="h3 mb-3"><b>Iniciar Sessão</b></h1>
    </div>
    <input type="text" name="email" class="form-control" placeholder="Email" value=""><br>
    <input type="password" name="password" class="form-control" placeholder="Password" value=""><br>
    <button type="submit" class="btn btn-primary btn-block">Iniciar Sessão</button>
    <p class="text-center">Ainda não tem conta? <a href="/register"><button type="button"
                class="btn btn-link">Registe-se</button></a></p>


    {% endblock %}